#signup{
    background-color: aliceblue;
  }
  #user{
    
    position: absolute;
    width: 430px;
    height: 100px;
    left: 85px;
    top: 120px;
    
    background: #FFFEFE;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
  
    font-family: Jaldi;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 64px;
  
  color: #223864;
  }
  
  #trans{
    
  position: absolute;
  width: 430px;
  height: 100px;
  left: 85px;
  top: 340px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  
  font-family: Jaldi;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 64px;
  
  color: #223864;
  }
  .Popcontainer{
    
     position: absolute;
    width: 600px;
    height: 600px;
    left: 550px;
    top: 100px; 
   
    
    background: #496FB0;
    border: 1px solid #001643;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 2;
  }