/* body{
    color: #fff;
    background: aliceblue;
    font-family: Inter;
    background-size: 100% !important; 
background-position: cover !important;
z-index: 99999 !important;
height: 100%;
width: 100%;
position: absolute;
  left: 0px;
  top: 0px;
background-repeat: no-repeat;
overflow:scroll;

} */